<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/play.css">
  <link rel="icon" type="image/x-icon" href="/assets/logo1.png">
</head>

<body>
  <div class="header">
    <h1 style="color: #724C21;"><a href="/"><</a></h1>
    <img src="/assets/logo1.png"/>
    <h1>ROCK PAPER SCISSOR </h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>PLAYER 1</h1>
        <div id="image-player"></div>
      </div>
      <div class="col">
        <h1 class="vs">
          VS
        </h1>
      </div>
      <div class="col">
        <h1>COM</h1>
        <div id="image-com"></div>
      </div>
    </div>
  </div>
  
  <div class="refresh">
    <img src="/assets/refresh 2.png">
  </div>


  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="/js/play.js"></script>
</body>

</html>